<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error!</h4>
  <p>{{error}}</p>
  <hr>
  <p class="mb-0">Por favor, intente nuevamente.</p>
</div>
<a href="/" class="btn btn-primary mt-3">Volver al inicio</a>